body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
}

/* ==== TEXT/FONT ====================================================  */

.txt-sm {
    font-size: 0.7rem;
}


.status-box {
    margin-bottom: 15px;
}

.map-box {


}

.dummy_map_img {
    min-width: 100%;
    height: 90vh;
}

.login-window {
    text-align: center;
    padding: 0 25%;
    text-transform: uppercase;
}

.form-override {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #dfe3e8;
}

.sign-up {
    width: 100%;
    text-align: center;
    padding: 0 25%;
}



