@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #606060;
}

header {
    background-color: #004080;
    color: white;
}

a {
    color: inherit;
}

a.a-override i:hover {
    color: #596cc4;
}

h3 {
    text-transform: uppercase;
}

/* TEST CLASSES */
.red {
    background-color: red;
    
}

.green {
    background-color: green;
}

/* =================================================================== */
/* ==== LINE ====================================================  */

.line {
    border-top: 1px solid lightgrey;
}

/* =================================================================== */
/* ==== TEXT/FONT ====================================================  */

.txt-sm {
    font-size: 0.7rem;
}

.center {
    text-align: center;
}

/* =================================================================== */
/* ==== BUTTONS =====================================================  */
.status-box-btn {
    width: 170px;
    border-radius: 0.25rem;
}

.btn-override {
    margin: 0;
    border-radius: 0.25rem;
}

.btn-override-margin {
    margin: 0 15px;
}

.transparent-btn {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-align: left;
    box-shadow: 0;
}

.log-header-button {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    z-index: 2;
}

.log-header-button a {
    width: 100px;
}

.log-header-edit-button {
    display: inline-block;
    width: 100px;
}

/* =================================================================== */
/* ==== FORMS =======================================================  */
/* Override bootstrap style of for form elements */
.form-override {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #a3aebc;
}

/* Wraps the entire form page including headers and other content */
.form-base {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

/* Wraps the <form> element in a form page */
.form-wrapper {
    padding-top: 20px;
}

.image-upload-form {
    margin-bottom: 10px;
}

/* Labels to the right of the form fiels in update forms */
.form-label {
    position: relative;
    top: 10px;
    text-align: left;
}

.form-label-row {
    text-align: left;
}

/* =================================================================== */
/* ==== MODALS =======================================================  */

/* **** Warning Modal *********************************************** */
.modal-wrapper {
    text-align: center;
}

.modal-wrapper div h3 {
    color: #ff7043;
    text-align: center;
    font-weight: 500;
    margin: auto;
}

.modal-body p strong {
    color: #ff7043
}

.modal-header {
    padding-top: 20px;
    border: none;
}

.modal-footer {
    margin: auto;
    border: none;
}

.modal-footer button {
    width: 200px;
}

/* =================================================================== */
/* ==== ICONS =======================================================  */
.icon-header {
    font-size: 1.5em;
}

.icons-sm {
    font-size: 2em;
    color: #6e6e6e;
}

.icon_submit {
    position: relative;
    top: 2px;
    margin-left: 10px;
    font-size: 1.3em;
    color: #c3c3c3;
}

.icon-edit {
    position: relative;
    top: 6px;
    font-size: 1.5em;
}

.icon-edit-close {
    top: 7px;
    font-size: 1.55em;
}

.icon-edit-small {
    font-size: 0.7em;
}

.collapse-icon {
    position: relative;
    top: 10px;
    display: block;
    float: right;
    font-size: 0.7em;
}

.collapse-icon-sm {
    top: 0px;
}

/* =================================================================== */
/* ==== SPECIFIC ===================================================== */

/* ******************************************************************* */
/* **** MAP ********************************************************** */
#map {
    width: 100%;
    height: 100%;
}

/* ******************************************************************* */
/* **** BASE TEMPLATE ************************************************ */

.logs-side-base {

}

.map-side-base {

}





/* ******************************************************************* */
/* **** STATUS WINDOW ************************************************ */
.status-window {
    margin-bottom: 15px;

}

.status-window-buttons-div {
    margin: 15px 0;
}

/* **** LOG HEAD AND LOG ENTRIES ************************************* */
/* The complete wrapping for the complete accordion (All log headers/Journeys included */
.logs-accordion {
    margin-right: 10px;
    margin-top: 10px;
}

/* The complete wrapping of a Log Header/Journy incl. log entries */
.log-header-card {
    margin-top: 10px;
}

/*  Log Header/Journey title */
.log-header-head {
    background-color: #c5cceb;
    border-radius: 5px 5px 0 0;
}

/*  Section containing top info about Journey */
.log-header-info {
    padding: 10px 20px;
}

/*  Section wrapping all log entries for a log header/Journey */
.log-header-body {
    padding: 10px 20px;
}

/* **** LOG ENTRIES (nested in the the log headers accordion) **** */
.log-entry-wrapper {
    padding: 10px 0;
}

/* ****  Log enntry Head ******************** */
.log-entry-head {
    position: relative;
    background-color: #f0f4ff;
}

.log-entry-head h4 {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 20px;
}

.log-entry-head h4 a {
    display: block;
    padding-bottom: 5px;
}

.log-entry-edit {
    position: relative;
    left: 20px;
    font-size: 1.5rem;
    height: 20px;
}

.log-headers-button-row {
    margin-bottom: 25px;
}

.main-edit-button-container {
    display: inline-block;
    margin-left: 20px;
}

.small-edit-button-container {
    position: absolute;
    top: 15px;
    left: -20px;
}

/* **** log entry body ******************** */

.log-entry-body {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
}

.log-entry-data {

}


/* **** MAP ********************************************************** */
.dummy_map_img {
    min-width: 100%;
    height: 90vh;
}

.map {
    margin-top: 25px;
}


/* **** LOGIN / SIGN UP ********************************************** */

/* ---- Login -------------------------------------------------------- */
.login-window {
    text-align: center;
    padding: 0 25%;
    text-transform: uppercase;
}




/* =================================================================== */
/* ==== M E D I A  Q U E R I E S ===================================== */
@media screen and (min-width: 720px) {
    .form-base {
        padding: 0 0;
    }
}

@media screen and (min-width: 992px) {
    .form-base {
        padding: 0 10%;
    }
}

@media screen and (min-width: 1200px) {
    .form-base {
        padding: 0 20%;
    }
}











