@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    min-height: 120vh
}

header {
    background-color: rgba(255,255,255,0.4);
    border-radius: 0 0 5px 5px;
}

main {
    margin-top: 20px;
    margin-bottom: 40px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
}

h2 {
    text-transform: uppercase;
}

.height-100 {
    height: 150px;
}

/* =================================================================== */
/* #region ==== BACKGROUND IMAGES ==================================== */
.bg-image-1 {
    background-image: url('../img/bg_sea_2.jpg');
}

.bg-image-full {
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* =================================================================== */
/* ==== TEXT/FONT ====================================================  */

.txt-sm {
    font-size: 0.7rem;
}

.text-md {
    font-size: 1.3rem;
}

.text-lg {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.txt-white {
    color: #ffffff;
}

.txt-grey {
    color: #9b9b9b;
}

.txt-darkgrey {
    color: #4f4f4f;
}

/* =================================================================== */
/* ==== BUTTONS =====================================================  */
.status-box-btn {
    width: 170px;
    border-radius: 0.25rem;
}

.btn-override {
    margin: 0;
    border-radius: 0.25rem;
}

.btn-override-margin {
    margin: 0 15px;
}

.transparent-btn {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-align: left;
    box-shadow: 0;
}

.log-header-button {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    z-index: 2;
}

.log-header-button a {
    width: 100px;
}

.log-header-edit-button {
    display: inline-block;
    width: 100px;
}

/* =================================================================== */
/* ==== FORMS =======================================================  */
/* Override bootstrap style of for form elements */
.form-override {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #a3aebc;
}

/* Wraps the entire form page including headers and other content */
.form-base {
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-right: 10px;
}

.form-base form {
    padding: 20px 20px;
}

/* Wraps the <form> element in a form page */
.form-wrapper {
    padding-top: 20px;
}

.image-upload-form {
    margin-bottom: 10px;
}

/* Labels to the right of the form fiels in update forms */
.form-label {
    position: relative;
    top: 0px;
    text-align: left;
}

.form-label-row {
    text-align: left;
}

.form-info-window {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #ffffff;
}

/* =================================================================== */
/* ==== MODALS =======================================================  */

/* **** Warning Modal *********************************************** */
.modal-wrapper {
    text-align: center;
}

.modal-wrapper div h3 {
    color: #ff7043;
    text-align: center;
    font-weight: 500;
    margin: auto;
}

.modal-body p strong {
    color: #ff7043
}

.modal-header {
    padding-top: 20px;
    border: none;
}

.modal-footer {
    margin: auto;
    border: none;
}

.modal-footer button {
    width: 200px;
}

/* =================================================================== */
/* ==== ICONS =======================================================  */
.icon-header {
    font-size: 1.5em;
}

.icons-sm {
    font-size: 2em;
    color: #6e6e6e;
}

.icon-white {
    color: #ffffff;
}

.icon-lightgrey {
    color: #a5b5bc;
}

.icon_submit {
    position: relative;
    top: 2px;
    margin-left: 10px;
    font-size: 1.3em;
    color: #c3c3c3;
}

.icon-edit {
    position: relative;
    top: 6px;
    font-size: 1.5em;
}

.icon-edit-close {
    top: 7px;
    font-size: 1.55em;
}

.icon-edit-small {
    font-size: 0.7em;
}

.collapse-icon {
    position: relative;
    top: 20px;
    display: block;
    float: right;
    font-size: 0.7em;
}

.collapse-icon-sm {
    top: 5px;
}

.center-map_icon {
    position: relative;
    top: 0px;
    padding-right: 5px;
    font-size: 1.2em;
    color: #258cfe;
}

.camera-icon {
    font-size: 1.1em
}

.signout-icon {
    position: relative;
    top: 3px;
    font-size: 1.3em;
    padding-left: 10px;
}

/* =================================================================== */
/* ==== SPECIFIC ===================================================== */

/* ******************************************************************* */
/* **** NAV ********************************************************** */
.navbar-wrapper {
    position: relative;
}

.logo {
    max-width: 150px;
}

.logo-txt {
    position: absolute;
    top: 20px;
    left: 170px;
}

.logo-txt div {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1.3em;
}

.logo-txt-1 {
    position: relative;
    left: -30px;
}

.logo-txt-2 {
    position: relative;
    left: -5px;
}

.logo-txt-3 {
    position: relative;
    left: 10px;
}

.nav-links {
    position: relative;
    top: 30px;
    margin-left: 300px;
    font-size: 1.3em;
}

.navbar-link {
    margin-right: 10px;
}

.navbar-user-info {
    position: absolute;
    top: 20px;
}

.navbar-hamburger {
    position: relative;
    top: 15px;
}

/* ******************************************************************* */
/* **** MAP ********************************************************** */
.main-wrapper {
    position: relative;
}

#map {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 90vh;
}

/* ******************************************************************* */
/* **** STATUS WINDOW ************************************************ */
.status-window {
    margin-bottom: 15px;
}

.status-window-buttons-div {
    margin: 15px 0;
}

/* **** LOG HEAD AND LOG ENTRIES ************************************* */
/* The complete wrapping for the complete accordion (All log headers/Journeys included */
.logs-accordion {
    margin-right: 10px;
    margin-top: 10px;
}

/* The complete wrapping of a Log Header/Journy incl. log entries */
.log-header-card {
    margin-top: 10px;
    background-color: transparent;
}

/*  Log Header/Journey title */
.log-header-head {
    background-color: #6072c8;
    border-radius: 5px 5px 0 0;
    color: #d6d6d6;
}

/*  Show all checkbox wrapper */
.map-check-all-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
    font-size: 1em;
}

.map-check-all-label {
    position: relative;
    right: 40px;

}

/*  Section containing top info about Journey */
.log-header-info {
    padding: 10px 20px;
}

/*  Section wrapping all log entries for a log header/Journey */
.log-header-body {
    background-color: rgba(0,0,0,0.3);
}

/* **** LOG ENTRIES (nested in the the log headers accordion) **** */
.log-entry-wrapper {
    padding: 10px 0;
}

/* ****  Log enntry Head ******************** */
.log-entry-head {
    position: relative;
    background-color: #bfd1ff;
}

.log-entry-head h4 {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 20px;
}

.log-entry-head h4 a {
    display: block;
    padding-bottom: 5px;
}

.map-controls-wrapper {
    position: relative;
}

.center-map-icon-wrapper {
    position: absolute;
    top: 5px;
    right: 90px;
}

.map-check-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
    font-size: 0.7em;
}

.map-check-label {
    position: relative;
    right: 40px;
    top: 5px;
}

.log-entry-edit {
    position: relative;
    left: 20px;
    font-size: 1.5rem;
    height: 20px;
}

.log-headers-button-row {
    margin-bottom: 25px;
}

.main-edit-button-container {
    display: inline-block;
    margin-left: 20px;
}

.small-edit-button-container {
    position: absolute;
    top: 15px;
    left: -20px;
}

/* **** log entry body ******************** */

.log-entry-body {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
}

/* **** LOGIN / SIGN UP ********************************************** */

/* ---- Login -------------------------------------------------------- */
.login-window {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.info-text-box {
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    background-color: rgba(0,0,0,0.1)
}

.info-text-box h1 {
    letter-spacing: 2px;
}



/* =================================================================== */
/* ==== M E D I A  Q U E R I E S ===================================== */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .navbar-user-info {
        left: 400px;
    }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
    .navbar-user-info {
        left: 400px;
    }
}

/* 1050px and down) */
@media (max-width: 1050px) {
    .log-header-head {
        min-height:90px;
    }
    
    .log-header-head a {
        position: relative;
        top: 20px;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) { 
    .nav-links {
        position: static;
        text-align: right;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) { 
    .logo {
        max-width: 75px;
    }

    .logo-txt {
        top: 10px;
        left: 110px;
    }
    
    .logo-txt div {
        font-size: 0.8em;
    }

    .logo-txt-2 {
        position: relative;
        left: -18px;
    }
    
    .logo-txt-3 {
        position: relative;
        left: -10px;
    }

    .navbar-user-info {
        right: 20px;
    }

    .log-header-head {
        height:auto;
    }
    
    .log-header-head a {
        position: static;
    }

}

/* Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) { 

}























