{% extends 'base.html' %}

{% block pageTitle %}<title>Your Digital Log Book | Edit Log</title>{% endblock %}

{% block main %}
<div class="row mx-auto w-100">
  <div class="col-md-12">
    <div class="form-base py-5">
		<h2 class="txt-white"><i class="fas fa-clipboard-list icon-header icon-lightgrey"></i> Edit log entry</h2>
		<p><a href="{{ url_for('index') }}">BACK TO MAIN PAGE</a></p>
		{% for log in this_log %}
		<form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_log', journey_id=journey_id, log_id=log._id)}}">

			<!-- #region ==== TITLE AND NOTE ====================================================== -->
			<div class="form-group">
				<div class="row">
				  <div class="col-4 col-md-3 form-label txt-white"><strong>TITLE</strong></div>
				  <div class="col-8 col-md-9">
					<input type="text" class="form-control form-override" id="title" name="title" value="{{ log.title }}" maxlength="30" required>
				  </div>
				</div>
				<div class="row">
				  <div class="col-4 col-md-3 form-label txt-white"><strong>LOG NOTE</strong></div>
				  <div class="col-8 col-md-9">
					<textarea class="form-control form-override" id="description" name="note" rows="6" maxlength="300" required>{{ log.note }}</textarea>
				  </div>
				</div>
			</div>
<!-- #endregion -->

			<!-- #region ==== IMAGE =============================================================== -->
			<div class="form-group">
				<div class="row form-label-row">
					<div class="col-4 col-md-3 txt-white">
						<label for="image" class="form-label-2">
							<i class="fas fa-camera icons-sm icon-lightgrey"></i>
						<strong> ADD/CHANGE<br>IMAGE</strong>(optional)</label></strong>
					</div>
					<!-- TODO: Fix edit image uppload -->
					<div class="col-8 col-md-9">
						<div class="form-group">
							<label for="image" class="pt-3"></label>
							<input type="file" class="form-control-file form-override py-1" id="image" name="image">
							<input type="text" class="form-control form-override" id="img_cap" name="img_cap" value="{{ log.img_cap }}" maxlength="50">
						</div>
					</div>
				</div>
			</div>
<!-- #endregion -->

			<!-- #region ==== WEATHER DATA ======================================================== -->	
			<div class="form-group">
				<div class="row"> 
				  <div class="col-12 pb-3 txt-white"><h4>Add Weather data (all optional)</h4></div>
				</div>
				<div class="row"> 
				  <div class="col-3 icons-sm"><i class="fas fa-cloud-sun icon-lightgrey"></i></div>
				  <div class="col-2 icons-sm"><i class="fas fa-temperature-low icon-lightgrey"></i></div>
				  <div class="col-2 icons-sm"><i class="fas fa-cloud-upload-alt icon-lightgrey"></i></div>
				  <div class="col-3 icons-sm"><i class="fas fa-paper-plane icon-lightgrey"></i></div>
				  <div class="col-2 icons-sm"><i class="fas fa-wind icon-lightgrey"></i></div>
				</div>
				<div class="row"> 
				  <div class="col-3 txt-white">Weather condition</div>
				  <div class="col-2 txt-white">Temp (&#8451;)<br>(-45 - 45)</div>
				  <div class="col-2 txt-white">Air preassure (hPa)<br>(920 - 1080)</div>
				  <div class="col-3 txt-white">Wind direction</div>
				  <div class="col-2 txt-white">Wind speed (m/s)<br>(avg. 0 - 45)</div>
				</div>
				<div class="row"> 
				  <div class="col-3 txt-sm">
					<select class="form-control form-control-sm form-override" id="weather" name="weather">
						<option value="{{ log.weather }}" selected>{{ log.weather }}</option>
					  {% for weather_option in weather_options %}
					  {% if weather_option.weather_name != log.weather %}
						<option value="{{ weather_option.weather_name }}">{{ weather_option.weather_name }}</option>
						{% endif %}
					  {% endfor %}
					</select>
				  </div>
				  <div class="col-2 txt-sm">
					<input type="number" class="form-control form-control-sm form-override" id="temp" name="temp" value="{{ log.temp }}" min="-45" max="45">
				  </div>
				  <div class="col-2 txt-sm">
					<input type="number" class="form-control form-control-sm form-override" id="air_pressure" name="air_pressure" value="{{ log.air_pressure }}" min="920" max="1080" step="5">
				  </div>
				  <div class="col-3 txt-sm">
					<select class="form-control form-control-sm form-override" id="wind_dir" name="wind_dir">
					  <option value="{{ log.wind_dir }}" selected>{{ log.wind_dir }}</option>
					  {% for wind_direction in wind_directions %}
					  <option value="{{ wind_direction.dir_short_name }}">
						{{ wind_direction.dir_long_name }}({{ wind_direction.dir_short_name }})
					  </option>
					 {% endfor %}
					</select>
				  </div>
				  <div class="col-2 txt-sm">
					<input type="number" class="form-control form-control-sm form-override" id="wind_speed" name="wind_speed" value="{{ log.wind_speed }}" min="0" max="45">
				  </div>
				</div>
			  </div>
<!-- #endregion -->

			<!-- #region ==== TRIP DATA =========================================================== -->
			<div class="form-group">
			<div class="row"> 
				<div class="col-12 py-3 txt-white"><h4>Edit Trip Data (all optional)</h4></div>
			</div>
			<div class="row"> 
				<div class="col-6 icons-sm"><i class="fab fa-atlassian icon-lightgrey"></i></div>
				<div class="col-3 icons-sm"><i class="fas fa-compass icon-lightgrey"></i></div>
				<div class="col-3 icons-sm"><i class="fas fa-tachometer-alt icon-lightgrey"></i></div>
			</div>
			<div class="row"> 
				<div class="col-6 txt-sm">Activity</div>
				<div class="col-3  txt-sm">Heading<br>(0 - 360&#176;)</div>
				<div class="col-3  txt-sm">Speed<br>(0-70 kn)</div>
			</div>
			<div class="row"> 
				<div class="col-6 txt-sm">
					<select class="form-control form-control-sm form-override" id="activity" name="activity">
						<option value="{{ log.activity }}" selected>{{ log.activity }}</option>
						{% for activity_option in activity_options %}
						{% if activity_option.sub_act_short_name != log.activity %}
						<option value="{{ activity_option.sub_act_short_name }}">{{ activity_option.sub_act_long_name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="col-3 txt-sm">
				<input type="number" class="form-control form-control-sm form-override" id="heading" name="heading" value="{{ log.heading}}" min="0" max="360">
				</div>
				<div class="col-3 txt-sm">
				<input type="number" class="form-control form-control-sm form-override" id="speed" name="speed" value="{{ log.speed }}" min="0" max="70">
				</div>
			</div>
			<div class="row"> 
				<div class="col-6 icons-sm"><i class="fas fa-map-marked-alt icon-lightgrey"></i></div>
				<div class="col-3 icons-sm"><i class="fas fa-arrows-alt-v icon-lightgrey"></i></div>
				<div class="col-3 icons-sm"><i class="fas fa-arrows-alt-h icon-lightgrey"></i></div>
			</div>
			<div class="row"> 
				<div class="col-6 txt-white">Location</div>
				<div class="col-3 txt-white">Latitude<br>(-90 - 90&#176;)</div>
				<div class="col-3 txt-white">Longitude<br>(-180 - 180&#176;)</div>
			</div>
			<div class="row"> 
				<div class="col-6 txt-sm">
				<input type="text" class="form-control form-control-sm form-override" id="location" name="location" value="{{ log.location }}" maxlength="30">
				</div>
				{% for position in log.position %}
				<div class="col-3 txt-sm">
				<input type="number" class="form-control form-control-sm form-override" id="latitude" name="latitude" value="{{ log.position[0].lat }}" step="0.00001" min="-90" max="90">
				</div>
				<div class="col-3 txt-sm">
				<input type="number" class="form-control form-control-sm form-override" id="longitude" name="longitude" value="{{ log.position[0].lng }}" step="0.00001" min="-180" max="180">
				</div>
				{% endfor %}
			</div>
			</div>  
<!-- #endregion -->

      		<button type="submit" class="btn btn-blue-grey form-override btn-override">Submit changes</button>
		
		</form>
		{% endfor %}
    </div>
  </div>   
</div>

{% endblock %}