{% extends 'base.html' %}

{% block pageTitle %}<title>Your Digital Log Book | Edit Journey Information</title>{% endblock %}

{% block main %}
  <div class="row mx-auto">
      <div class="col-md-12">
        <div class="form-base py-5">
          <h2 class="txt-white">Edit journey information</h2>
          <p><a href="{{ url_for('index') }}">Back to Main Page</a></p>
          {% for journey in this_journey %}
            <form method="POST" action="{{ url_for('edit_journey', journey_id=journey_id) }}">
              <div class="form-group">
                <div class="row">
                  <div class="col-4 col-md-3 form-label txt-white"><strong>TITLE</strong></div>
                  <div class="col-8 col-md-9">
                    <input type="text" class="form-control form-override" id="title" name="title" value="{{ journey.title }}" maxlength="30" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 col-md-3 form-label txt-white"><strong>START LOCATION</strong></div>
                  <div class="col-8 col-md-9">
                    <input type="text" class="form-control form-override" id="start_location" name="start_location" value="{{ journey.start_location }}" maxlength="25">
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 col-md-3 form-label txt-white"><strong>END LOCATION</strong></div>
                  <div class="col-8 col-md-9">
                    <input type="text" class="form-control form-override" id="end_location" name="end_location" value="{{ journey.end_location }}" maxlength="25">
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 col-md-3 form-label txt-white"><strong>DISTANCE (NM) </strong></div>
                  <div class="col-8 col-md-9">
                    <input type="number" class="form-control form-override" id="distance" name="distance" value="{{ journey.distance }}" min="0" max="21600">
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 col-md-3 form-label txt-white"><strong>DESCRIPTION </strong></div>
                  <div class="col-8 col-md-9">
                    <textarea class="form-control form-override" id="description" name="description" rows="5" maxlength="200">{{ journey.description }}</textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8 txt-white"><h4>Change start and end dates and time</h4></div>
                </div>
                <div class="row"> 
                  <div class="col-4 col-md-3 form-label txt-white"><strong>START</strong></div>
                  <div class="col-4 col-md-5">
                    <input type="date" class="form-control form-override" id="start_date" name="start_date" value="{{ journey.start_datetime.strftime('%Y-%m-%d') }}" required>
                  </div>
                  <div class="col-4">
                    <input type="time" class="form-control form-override" id="start_time" name="start_time" value="{{ journey.start_datetime.strftime('%H:%M') }}" required>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-4 col-md-3 form-label txt-white"><strong>END</strong></div>
                  <div class="col-4 col-md-5">
                    {% if journey.end_datetime == "Ongoing" %}
                    <input type="text" class="form-control form-override" id="end_date" name="end_date" value="{{ journey.end_datetime }}" disabled>
                    {% else %}
                    <input type="date" class="form-control form-override" id="end_date" name="end_date" value="{{ journey.end_datetime.strftime('%Y-%m-%d') }}" required>
                    {% endif %}
                  </div>
                  <div class="col-4">
                    {% if journey.end_datetime == "Ongoing" %}
                    <input type="text" class="form-control form-override" id="end_time" name="end_time" value="{{ journey.end_datetime }}" disabled>
                    {% else %}
                    <input type="time" class="form-control form-override" id="end_time" name="end_time" value="{{ journey.start_datetime.strftime('%H:%M') }}" required>
                    {% endif %}
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-blue-grey form-override btn-override">Submit changes</button>
            </form>
          {% endfor %}
        </div>
        <hr>
      </div>
  </div>
{% endblock %}