{% extends 'base.html' %}

{% block pageTitle %}<title>A Page title</title>{% endblock %}


{% block main %}

  <div class="row mx-auto no-gutters">
      <div class="col-md-12 col-lg-6 status-box">
        {% for user in users %}
        <h4>Welcome {{user.first_name}}</h4>
        <p>CURRENT ACTIVITY: <strong>{{render_activity}}</strong></p>
        <p><strong>Last Logentry</strong> - 9 July, 2020 - 11:56</p>
        <hr>
        {% endfor %}
            <!-- STATUS ACTION DROPDOWN MENU -->
  <div>
    <span class="dropdown">
      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change Activity
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for option in options %}
        <a class="dropdown-item" href="#">{{option.opt_name}}</a>
        {% endfor %}
      </div>
    </span>
    <span class="dropdown">
      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add new log entry
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </span>
  </div>

    
      </div>
      <div class="col-md-12 col-lg-6 map-box">
          <img class="img-fluid dummy_map_img" src="../static/img/dummy_map_800x800.png" alt="A dummy map from Google">
      </div>
  </div>

  {% endblock %}