{% extends 'base.html' %}

{% block pageTitle %}<title>Start a new journey</title>{% endblock %}

{% block main %}
  <div class="row mx-auto">
      <div class="col-md-12 W-90">
        <div class="form-base py-5">
          <h2 class="txt-white"><i class="fas fa-clipboard-list icon-header icon-lightgrey"></i> Add a new log entry</h2>
          <p><a href="{{ url_for('index') }}">BACK TO MAIN PAGE</a></p>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('newlog', journey_id=journey_id)}}">
              <div class="form-group">
                <input type="text" class="form-control form-override" id="title" name="title" placeholder="Log title (max 35 characters)" maxlength="35" required>
                <textarea class="form-control form-override" id="description" name="note" rows="6" maxlength="300" placeholder="Log note here (max 300 characters)" required></textarea>
              <div class="form-group">
                <div class="txt-white"><label for="image" class="pt-3"><h4><i class="fas fa-camera icons-sm camera-icon icon-lightgrey"></i> Add an image (optional)</h4></label></div>
                <input type="file" class="image-for-input" name="image" id="image" accept="image/jpg, image/jpeg, image/png">
                <img class="w-25 image-upload-form" src="../static/img/profile.png" alt="...">
                <input type="text" class="form-control form-override" id="img_cap" name="img_cap" placeholder="Add image description (max 25 characters)(optional)" maxlength="25">
              </div>
              </div>
              <div class="form-group form-group-wrapper">
                <div class="row"> 
                  <div class="col-12 txt-white"><label for="image" class="pt-3"><h4>Add Weather data (all optional)</h4></label></div>
                </div>
                <div class="row"> 
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-cloud-sun"></i></div>
                  <div class="col-2 icons-sm icon-lightgrey"><i class="fas fa-temperature-low"></i></div>
                  <div class="col-2 icons-sm icon-lightgrey"><i class="fas fa-cloud-upload-alt"></i></div>
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-paper-plane"></i></div>
                  <div class="col-2 icons-sm icon-lightgrey"><i class="fas fa-wind"></i></div>
                </div>
                <div class="row"> 
                  <div class="col-3 txt-white">Weather condition</div>
                  <div class="col-2 txt-white">Temp (&#8451;)<br>(-45 - 45)</div>
                  <div class="col-2 txt-white">Air preassure (hPa)<br>(920 - 1080)</div>
                  <div class="col-3 txt-white">Wind direction</div>
                  <div class="col-2 txt-white">Wind speed (m/s)<br>(avg. 0 - 45)</div>
                </div>
                <div class="row"> 
                  <div class="col-3 txt-sm">
                    <select class="form-control form-control-sm form-override" id="weather" name="weather">
                        <option value="" selected>Weather...</option>
                      {% for weather_option in weather_options %}
                        <option value="{{ weather_option.weather_name }}">{{ weather_option.weather_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-2 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="temp" name="temp" placeholder="(&#8451;)" min="-45" max="45">
                  </div>
                  <div class="col-2 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="air_pressure" name="air_pressure" placeholder="(hPa)" min="920" max="1080" step="5">
                  </div>
                  <div class="col-3 txt-sm">
                    <select class="form-control form-control-sm form-override" id="wind_dir" name="wind_dir">
                      <option value="" selected>Wind direction...</option>
                      {% for wind_direction in wind_directions %}
                      <option value="{{ wind_direction.dir_short_name }}">
                        {{ wind_direction.dir_long_name }} ({{ wind_direction.dir_short_name }})
                      </option>
                    {% endfor %}
                    </select>
                  </div>
                  <div class="col-2 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="wind_speed" name="wind_speed" placeholder="(m/s)" min="0" max="45">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row"> 
                  <div class="col-12 txt-white"><label for="image" class="pt-3"><h4>Add Trip data (all optional)</h4></label></div>
                </div>
                <div class="row"> 
                  <div class="col-6 icons-sm icon-lightgrey"><i class="fab fa-atlassian"></i></div>
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-compass"></i></div>
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-tachometer-alt"></i></div>
                </div>
                <div class="row"> 
                  <div class="col-6 txt-white">Activity</div>
                  <div class="col-3 txt-white">Heading<br>(0 - 360&#176;)</div>
                  <div class="col-3 txt-white">Speed<br>(0-70 kn)</div>
                </div>
                <div class="row"> 
                  <div class="col-6 txt-sm">
                    <select class="form-control form-control-sm form-override" id="activity" name="activity">
                        <option value="" selected>Current activity...</option>
                      {% for activity_option in activity_options %}
                        <option value="{{ activity_option.sub_act_short_name }}">{{ activity_option.sub_act_long_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="heading" name="heading" placeholder="(0-360)" min="0" max="360">
                  </div>
                  <div class="col-3 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="speed" name="speed" placeholder="(Kn)" min="0" max="70">
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-6 icons-sm icon-lightgrey"><i class="fas fa-map-marked-alt"></i></div>
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-arrows-alt-v"></i></div>
                  <div class="col-3 icons-sm icon-lightgrey"><i class="fas fa-arrows-alt-h"></i></div>
                </div>
                <div class="row"> 
                  <div class="col-6 txt-white">Location</div>
                  <div class="col-3 txt-white">Latitude<br>(-90 - 90&#176;)</div>
                  <div class="col-3 txt-white">Longitude<br>(-180 - 180&#176;)</div>
                </div>
                <div class="row"> 
                  <div class="col-6 txt-sm">
                    <input type="text" class="form-control form-control-sm form-override" id="location" name="location" placeholder="Current location (max 30 characters)" maxlength="30">
                  </div>
                  <div class="col-3 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="latitude" name="latitude" placeholder="(-90-90&#176;)" step="0.00001" min="-90" max="90">
                  </div>
                  <div class="col-3 txt-sm">
                    <input type="number" class="form-control form-control-sm form-override" id="longitude" name="longitude" placeholder="(-180-180&#176;)" step="0.00001" min="-180" max="180">
                  </div>
                </div>
              </div>
                <button type="submit" class="btn btn-blue-grey form-override btn-override">Submit log entry</button>
            </form>
        </div>
      </div>
  </div>
{% endblock %}