{% extends 'base.html' %}

{% block pageTitle %}<title>Start a new journey</title>{% endblock %}

{% block main %}
  <div class="row mx-auto no-gutters">
      <div class="col-md-12">
        <div class="sign-up">
          <h3>Add a new logentry</h3>
          <p><a href="{{ url_for('index') }}">Back to Main Page</a></p>
            <form method="POST" action="{{ url_for('newlog', journey_id=journey_id)}}">
                <input type="text" class="form-control form-override" id="title" name="title" placeholder="Log title (max 25 characters)" maxlength="25" required>
                <textarea class="form-control" id="description" name="note" rows="6" maxlength="300" placeholder="Log note here (max 300 characters)" required></textarea>
                <button type="submit" class="btn btn-light form-override btn-override">Submit log entry</button>
            </form>
        </div>
        <hr>
      </div>
  </div>
{% endblock %}